<div class="mdl-grid">
  <div class="mdl-cell--8-col mdl-cell--2-offset text-center">
    <h2>1. What would you like to do?</h2>
    <div class="mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
              ng-click="show.new = true">
        <i class="fa fa-plus"></i> Create a new Dataset
      </button>
      <div style="width:100px; display: inline-block;" class="text-center">OR</div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="true">
        <i class="fa fa-edit"></i> Add to an Existing Dataset
      </button>
    </div>
    <div class="spacing"></div>
  </div>
</div>
<div ng-show="show.new" class="mdl-grid bg-dark-color animated slideInUp">
  <form class="mdl-cell--8-col mdl-cell--2-offset text-center" name="uploadData" ng-submit="upload()">
    <h2>2. Tell us about the dataset.</h2>
    <div class="mdl-cell--12-col text-left">
      <md-input-container>
        <label>Your Email</label>
        <input name="email" ng-model="data.email" type="email" ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="uploadData.email.$error" role="alert">
          <div ng-message-exp="['required', 'pattern']">
            Your email must look like an e-mail address.
          </div>
        </div>
      </md-input-container><br>
      <md-input-container>
        <label>Name of Dataset</label>
        <input ng-model="data.name" name="name"  minlength="5" maxlength="65" md-maxlength="65" required>
        <div ng-messages="uploadData.name.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Dataset name must be between 5 and 64 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <input ng-model="data.description" name="description" minlength="10" maxlength="140" md-maxlength="140"required>
        <div ng-messages="uploadData.description.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Dataset descriptions must be between 10 and 140 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" ng-repeat="file in data.files track by $index">
        <label>Link to .csv Dataset File</label>
        <input ng-model="file" name="file" required>
        <div ng-messages="uploadData.file.$error" role="alert">
          <div ng-message-exp="['required']">
            Link to dataset file is required.
          </div>
        </div>
        <div ng-if="$index == data.files.length - 1">
          <div class="hint">
            We recommend using <a href="http://dropbox.com"><i class="fa fa-dropbox"></i> Dropbox</a> to host the data file. Please ensure
            the file is publicly accessible and downloaded when the link is visited!
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right" type="button" ng-click="addFile()">
            <i class="fa fa-plus-circle"></i> Add File</button>
        </div>
      </md-input-container>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              type="submit" ng-disabled="!uploadData.$valid">
        <i class="fa fa-play"></i> Process Dataset
      </button>
    </div>
    <div class="spacing"></div>
  </form>
</div>
<!--<div class="mdl-grid">-->
<!--<div>-->
<!--<form name="userForm">-->
<!--<div layout-gt-xs="row">-->
<!--<md-input-container class="md-block" flex-gt-xs>-->
<!--<label>Company (Disabled)</label>-->
<!--<input ng-model="user.company" disabled>-->
<!--</md-input-container>-->
<!--<md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">-->
<!--</md-datepicker>-->
<!--</div>-->
<!--<div layout-gt-sm="row">-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>First name</label>-->
<!--<input ng-model="user.firstName">-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>Last Name</label>-->
<!--<input ng-model="theMax">-->
<!--</md-input-container>-->
<!--</div>-->
<!--<md-input-container class="md-block">-->
<!--<label>Address</label>-->
<!--<input ng-model="user.address">-->
<!--</md-input-container>-->
<!--<md-input-container md-no-float class="md-block">-->
<!--<input ng-model="user.address2" placeholder="Address 2">-->
<!--</md-input-container>-->
<!--<div layout-gt-sm="row">-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>City</label>-->
<!--<input ng-model="user.city">-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>State</label>-->
<!--<md-select ng-model="user.state">-->
<!--<md-option ng-repeat="state in states" value="{{state.abbrev}}">-->
<!--{{state.abbrev}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>Postal Code</label>-->
<!--<input name="postalCode" ng-model="user.postalCode" placeholder="12345"-->
<!--required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">-->
<!--<div ng-messages="userForm.postalCode.$error" role="alert" multiple>-->
<!--<div ng-message="required" class="my-message">You must supply a postal code.</div>-->
<!--<div ng-message="pattern" class="my-message">That doesn't look like a valid postal-->
<!--code.-->
<!--</div>-->
<!--<div ng-message="md-maxlength" class="my-message">-->
<!--Don't use the long version silly...we don't need to be that specific...-->
<!--</div>-->
<!--</div>-->
<!--</md-input-container>-->
<!--</div>-->
<!--<md-input-container class="md-block">-->
<!--<label>Biography</label>-->
<!--<textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>-->
<!--</md-input-container>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
