<div ng-show="show.start" class="mdl-grid">
  <div class="mdl-cell--8-col mdl-cell--2-offset text-center animated slideInUp">
    <h2>1. What would you like to do?</h2>
    <div class="mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
              ng-click="show.new = true">
        <i class="fa fa-plus"></i> Create a new Dataset
      </button>
      <div style="width:100px; display: inline-block;" class="text-center">OR</div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="true">
        <i class="fa fa-edit"></i> Add to an Existing Dataset
      </button>
    </div>
    <div class="spacing"></div>
  </div>
</div>
<div ng-show="show.new" class="mdl-grid bg-dark-color animated slideInUp">
  <form class="mdl-cell--8-col mdl-cell--2-offset text-center" name="uploadData" ng-submit="processData()">
    <h2>2. Tell us about the dataset.</h2>
    <div class="mdl-cell--12-col text-left">
      <md-input-container>
        <label>Your Email</label>
        <input name="email" ng-model="data.email" type="email" ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="uploadData.email.$error" role="alert">
          <div ng-message-exp="['required', 'pattern']">
            Your email must look like an e-mail address.
          </div>
        </div>
      </md-input-container><br>
      <md-input-container>
        <label>Name of Dataset</label>
        <input ng-model="data.name" name="name"  minlength="5" maxlength="65" md-maxlength="65" required>
        <div ng-messages="uploadData.name.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Dataset name must be between 5 and 64 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <input ng-model="data.description" name="description" minlength="10" maxlength="140" md-maxlength="140"required>
        <div ng-messages="uploadData.description.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Dataset descriptions must be between 10 and 140 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" ng-repeat="file in data.files track by $index">
        <label>Link to .csv Dataset File</label>
        <input ng-model="file" name="file" required>
        <div ng-messages="uploadData.file.$error" role="alert">
          <div ng-message-exp="['required']">
            Link to dataset file is required.
          </div>
        </div>
        <div ng-if="$index == data.files.length - 1">
          <div class="hint">
            We recommend using <a href="http://dropbox.com"><i class="fa fa-dropbox"></i> Dropbox</a> to host the data file. Please ensure
            the file is publicly accessible and downloaded when the link is visited!
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right" type="button" ng-click="addFile()">
            <i class="fa fa-plus-circle"></i> Add File</button>
        </div>
      </md-input-container>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              type="submit" ng-disabled="!uploadData.$valid">
        <i class="fa fa-play"></i> Process Dataset
      </button>
    </div>
    <div class="spacing"></div>
  </form>
</div>'

<div ng-show="show.final" class="mdl-grid">
  <div class="mdl-cell--8-col mdl-cell--2-offset text-center animated slideInUp">
    <h2>3. Modify data types.</h2>
    <div class="spacing mdl-cell--12-col">
      <div class="badge badge-important">Status: {{ dataset.status.code }}</div>
      <div ng-show="datasetLoading"><i class="fa fa-circle-o-notch fa-spin"></i> This will automatically reload when your dataset is ready.</div>
    </div>
    <div class="mdl-cell--12-col text-left">
      <div class="md-block" ng-repeat="item in dataset.headers">
        <md-input-container>
          <label>Header Name</label>
          <input name="{{item.name}}" ng-model="item.name" required>
        </md-input-container>
        <md-input-container style="margin: 0;margin-top: -25px;width: 150px;">
          <label>Header Type</label>
          <md-select ng-model="item.type">
            <md-option ng-repeat="type in headerTypes" value="{{type}}">
              {{type}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
              ng-click="updateDataset()" type="submit" ng-show="!datasetLoading">
        <i class="fa fa-check"></i> Save & Parse Dataset
      </button>
    </div>
    <div class="spacing"></div>
  </div>
</div>
