<a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored
  bottom-right-button" ui-sref="add-data">
  <i class="material-icons">add</i>
</a>

<div class="mdl-grid bg-dark-color animated slideInDown">
  <form class="mdl-cell--8-col mdl-cell--2-offset text-center" name="uploadData" ng-submit="upload()">
    <h2><i class="fa fa-rocket"></i> Search <strong>Project EOS</strong></h2>
    <div class="mdl-cell--12-col text-left">
      <md-input-container class="md-block">
        <label><i class="fa fa-search"></i> Search</label>
        <input name="search" ng-model="data.search" required>
      </md-input-container>
    </div>
  </form>
</div>

<style>
  .demo-card-wide.mdl-card {
    width: 512px;
    margin: 10px auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #000;
    font-weight: bold;
    height: 176px;
    background: center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
</style>

<div class="mdl-grid">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp" ng-repeat="item in datasets | filter: data.search">
    <div class="mdl-card__title" style="background-image:url({{item.image}})">
      <h2 class="mdl-card__title-text">{{ item.name }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{ item.description }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="data">
        <i class="fa fa-compass"></i> Explore
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
</div>
