<div class="mdl-grid">
  <div class="mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><i class="material-icons">navigation</i> Weather Events in {{visualization.map.year }}</h2>
    </div>
    <div class="mdl-card__supporting-text" style="width:100%">
      <div class="mdl-cell--12-col">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="{
          scrollwheel: false
        }">
          <ui-gmap-markers ng-if="markers.length > 0"
                           models="markers"
                           coords="'self'"
                           type="cluster"
                           doCluster="true"
                           click="onMarkerClicked"
                           options = "{labelClass:'marker_labels',labelAnchor:'12 60',labelContent:'title'}">

          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <!-- Slider with Starting Value -->
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Select Year</span>
        </div>
        <md-slider flex class="md-primary" md-discrete ng-model="visualization.map.year" min="{{visualization.map.yearMin}}" ng-disabled="loadingEvents"
                   max="{{visualization.map.yearMax}}" ng-change="onYearChange(visualization.map.year)" aria-label="Map Year">
        </md-slider>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><i class="material-icons">assessment</i> Damage in {{visualization.map.year }} vs.
        <md-select ng-model="visualization.map.comparison.name">
          <md-option ng-repeat="item in statistics" value="{{item.name}}">
            {{item.title}}
          </md-option>
        </md-select>
      </h2>
    </div>
    <div class="mdl-card__supporting-text damage-chart" style="width:100%">
      <nvd3-multi-bar-chart
        data="exampleData"
        id="colorExample"
        height="400"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisTickFormatFunction()"
        color="colorFunction()">
        <svg></svg>
      </nvd3-multi-bar-chart>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <!-- Slider with Starting Value -->
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Select Year</span>
        </div>
        <md-slider flex class="md-primary" md-discrete ng-model="visualization.map.year" min="{{visualization.map.yearMin}}" ng-disabled="loadingEvents"
                   max="{{visualization.map.yearMax}}" ng-change="onYearChange(visualization.map.year)" aria-label="Map Year">
        </md-slider>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
</div>

